body{
  margin: 0;
  padding: 0;
  text-align:center;
  box-sizing:border-box;
  height:auto;
  width:100%;
  color:white;
  font-family: 'Archivo', sans-serif;
  background:#716F6F;
}
.header{
  height:8vh;
  width:100%;
  box-sizing:border-box;
  padding:0 1%;
  line-height: 8vh;
}
header h1{
  float:left;
  font-family: 'Pacifico', cursive;

  padding:0;
  margin:0;
}
#image-result{
  width: 50%;
  height:100%;
  background:pink;
  float:left;
  object-fit: cover;
}
#urban-result{
  width:50%;
  height:100%;
  background:white;
  float:right;
  color:grey;
  text-align:left;
  box-sizing:border-box;
  padding:2%;
}
#save-icon{
  width:100%;
  height:20%;
  background:#4caf50;
  color:white;
  border:none;
  box-sizing:border-box;
  vertical-align: text-bottom;
  border-radius:5px;
  cursor:pointer;
  font-size:1.0em;
}
#searched-word{
  height:10%;
}
#definition-word{
  height:50%;
  overflow: auto;

}
#result-wrapper{
  width:100%;
  height:100%;
  animation: reveal 1s;
  box-shadow: -2px -2px 12px 4px black;
}
@keyframes reveal {
  from {opacity:0;}
  to {opacity: 1;}
}
header a{
  box-sizing:border-box;
  color:white;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
  margin:0 1%;
  vertical-align: text-bottom;
}
.paralax{
  height:auto;
  width:100%;
  background-attachment: fixed;
}
#result-container{
  height:30vh;
  width:40vw;
  margin:3vh auto;
  box-sizing: border-box;


}
#paralax-1{
  background:url("images/wallpaper1.jpg") no-repeat center black;
  background-size:cover;
  background-attachment: fixed;
  padding-bottom: 10vh;
}
#paralax-2{
  background:#716F6F;
}
.searchBar{
  width:40%;
  height:6vh;
  padding: 10px;
  border:1px solid grey;
  border-radius: 12px;
  margin:auto;
  display:block;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 5vh;
  opacity:0.6;
  font-size:1.3em;
  outline: none;
}


#search-btn{
  display:inline-block;
  margin:10px;
  height:6vh;
  width:10%;
  background:#3f5d75;
  border:none;
  color:white;
  box-sizing: border-box;
  font-size:1.2em;
  border-radius:2vh;
  outline:none;
  cursor:pointer;
}
.contentDisplay{
  width:100%;
  height:auto;
  padding:3% 0;
  text-align:left;
}
.flex-container {
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.imageContainer{
  width:23%;
  height:25vh;
  margin:3% 1%;
  display: inline;
  text-align:right;
}
.saved-image{
  width:100%;
  height:100%;
  object-fit: cover;
  box-sizing: border-box;
  border:1px solid grey;
  box-shadow: 5px 7px 20px 0px black;
}
.hide{
  display:none;
}
.show{
  display:block;
}
.header-txt{
  display:inline;
  margin-left:1%;
  color:#d4d4d4;


}
.delete-btn{
  background:#3D3C3C;
  color:red;
  border-radius:100%;
  border: none;
  display:relative;
  height:25px;
  width:25px;
  padding:3px;
  position:relative;
  top:12px;
  left:12px;
  box-shadow: 5px 7px 20px 0px black;
  font-weight:bold;
  cursor:pointer;
}



@media screen and (max-width: 480px) {
    /*
      phones
    */

    .header{
      height:auto;
      width:100%;
      box-sizing:border-box;
      padding:0 1%;
      line-height: 8vh;
      background: black;

    }


    header h1{
      float:none;
      font-family: 'Pacifico', cursive;
      display:block;
      padding:0;
      margin:auto;
      width: 100%;
}

    header a{
      box-sizing:border-box;
      color:white;
      font-size:1.2em;
      font-weight:bold;
      text-decoration:none;
      display: block;
    }
      #result-container{
        height:auto;
        min-height:30vh;
        width:95%;
        margin:3vh auto;
        box-sizing: border-box;
      
      
      }
      #image-result{
        width: 100%;
        height:100%;
        background:pink;
        float:left;
        object-fit: cover;
      }
      #urban-result{
        width:100%;
        height:auto%;
        background:white;
        float:right;
        color:grey;
        text-align:left;
        box-sizing:border-box;
        padding:2%;
      }
      #save-icon{
        width:100%;
        height:8vh;
        background:#4caf50;
        color:white;
        border:none;
        box-sizing:border-box;
        vertical-align: text-bottom;
        border-radius:5px;
        cursor:pointer;
        font-size:1.0em;
      }
      #searched-word{
        height:10%;
      }
      #definition-word{
        height:auto;
        /* overflow: auto; */
      
      }
      #result-wrapper{
        width:100%;
        height:100%;
        animation: reveal 1s;
        box-shadow: -2px -2px 12px 4px black;
      }
    .searchBar{
      width:95%;
      height:6vh;
      padding: 10px;
      border:1px solid grey;
      border-radius: 12px;
      margin:3vh auto;
      display:inline-block;
      box-sizing: border-box;
      text-align: left;
      margin-bottom: 5vh;
      opacity:0.6;
      font-size:1.3em;
      outline: none;
      
    }
    #search-btn{
      display:inline-block;
      margin:10px;
      height:6vh;
      width:95%;
      background:#3f5d75;
      border:none;
      color:white;
      box-sizing: border-box;
      font-size:1.2em;
      border-radius:2vh;
      outline:none;
      cursor:pointer;
    }




    .saved-image{
      width:100%;
      height:100%;
      object-fit: cover;
      box-sizing: border-box;
      border:1px solid grey;
      box-shadow: 5px 7px 20px 0px black;
    }

    .flex-container {
      display:block;
    }


    .imageContainer{
      width:97%;
      height:25vh;
      margin:auto;
      display: inline;
      text-align:right;
    }

}


@media screen and (min-width: 1025px){
    /*
      Desktop
    */
}
