html {
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  text-align:center;
  box-sizing:border-box;
  height:auto;
  width:100%;
  color:white;
  font-family: 'Archivo', sans-serif;
  background:#716F6F;
  background:#dadada;
}
#bg-dark{
  width:100%;
  height:100%;
  position:fixed;
  background:#000000cf;
  z-index:10;
  /* display:none; */
  animation: reveal 1s; 
}
#entry-container{
  width:40vw;
  height:80vh;
  background:grey;
  margin:10vh auto;
}
#album-gif{
  width:100%;
  height:60%;
  background:grey;
  object-fit: cover;
}
#album-content{
  width:100%;
  height:40%;
  background:grey;
}
#lightbox-close{
  width:20vw;
  height:20vh;
  font-size:1.2em;
  background:none;
  color:white;
  border:none;
  cursor:pointer;
  position:absolute;
  top:1%;
  right:1%;
}
.header{
  background-color:none;
  height:8vh;
  width:100%;
  box-sizing:border-box;
  padding:0 1%;
  line-height: 8vh;
  position:fixed;
  top:0;
  left:0;
  z-index:9;
  text-align:center;
  -webkit-transition: background-color 0.3s ease-out;
}
.colored{
  background-color:black;
}
.transparent{
  background-color:none;
}
.header nav{
  width:40%;
  margin:auto;
  text-align:center;
  animation: reveal 1s;  
}
header h1{
  float:left;
  font-family: 'Pacifico', cursive;
  padding:0;
  margin:0;
}
header a{
  box-sizing:border-box;
  color:white;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
  margin:0 5%;
}
#bigmack{
  width:15%;
  height:6vh;
  background:url("images/menu-icon.png") no-repeat center;
  background-size:contain;
  border:none;
  padding:none;
  position:absolute;
  top:4%;
  right:1%;
  display:none;
  cursor:pointer;
}
.paralax{
  height:auto;
  width:100%;
  background-attachment: fixed;
}
#result-container{
  height:30vh;
  width:40vw;
  margin:auto;
  box-sizing: border-box;
}
#paralax-1{
  background:url("images/wallpaper1.jpg") no-repeat center black;
  background-size:cover;
  background-attachment: fixed;
  padding-bottom: 10vh;
}
#image-result{
  width: 50%;
  height:100%;
  background:pink;
  float:left;
  object-fit: cover;
}
#urban-result{
  width:50%;
  height:100%;
  background:white;
  float:right;
  color:grey;
  text-align:left;
  box-sizing:border-box;
  padding:2%;
}
#save-icon{
  width:100%;
  height:20%;
  background:#4caf50;
  color:white;
  border:none;
  box-sizing:border-box;
  vertical-align: text-bottom;
  border-radius:5px;
  cursor:pointer;
  font-size:1.0em;
}
#searched-word{
  height:10%;
}
#definition-word{
  height:50%;
  overflow: auto;
}
#result-wrapper{
  width:100%;
  height:100%;
  animation: reveal 1s;
  box-shadow: -2px -2px 12px 4px black;
}
@keyframes reveal {
  from {opacity:0;}
  to {opacity: 1;}
}
.searchBar{
  width:40%;
  height:6vh;
  padding: 10px;
  border:1px solid grey;
  border-radius: 12px;
  margin:auto;
  display:block;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2vh;
  opacity:0.6;
  font-size:1.3em;
  outline: none;
}
#search-btn{
  display:inline-block;
  margin:10px;
  height:6vh;
  width:10%;
  background:#0f72c1;
  border:none;
  color:white;
  box-sizing: border-box;
  font-size:1.2em;
  border-radius:2vh;
  outline:none;
  cursor:pointer;
}
#paralax-2{
  background:#dadada;
}
.contentDisplay{
  width:100%;
  height:auto;
  padding:3% 0;
  text-align:left;
}
.flex-container {
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.imageContainer{
  width:23%;
  height:25vh;
  margin:3% 1%;
  display: inline;
  text-align:right;
  cursor:pointer;
}
.saved-image{
  width:100%;
  height:100%;
  object-fit: cover;
  box-sizing: border-box;
  box-shadow: 5px 7px 20px 0px black;
}
.image-title{
  height:7vh;
  padding:5% 0;
  box-sizing: border-box;
  margin:0;
  text-align:center;
  width:100%;
  background:#c1c1c1cf;
  vertical-align:bottom;
  position:relative;
  top:-7vh;
}
.hide{
  display:none;
}
.show{
  display:block;
}
.header-txt{
  display:inline;
  margin:8vh 0 0 1%;
  color:#737373;
}
.delete-btn{
  background:#3D3C3C;
  color:red;
  border-radius:100%;
  border: none;
  display:relative;
  height:25px;
  width:25px;
  padding:3px;
  position:relative;
  top:12px;
  left:12px;
  box-shadow: 5px 7px 20px 0px black;
  font-weight:bold;
  cursor:pointer;
}

@media screen and (min-width: 480px) and (max-width: 1024px){
  /*
    Tablets
  */
  .searchBar, #search-btn{
    width:60vw;
  }
  .imageContainer{
    width:48%;
  }
}
@media screen and (max-width: 480px) {
    /*
      phones
    */
  .header{
    height:auto;
    width:100%;
    background: black;
  }
  header h1{
    display:block;
    width: 100%;
  }
  header a{
    display: block;
  }
  #result-container{
    height:auto;
    min-height:30vh;
    width:95%;
    margin:3vh auto;
  }
  #image-result{
    width: 100%;
    height:100%;
    float:left;
    object-fit: cover;
  }
  #urban-result{
    width:100%;
    height:auto;
    background:white;
  }
  #save-icon{
    height:8vh;
    background:#4caf50;
  }
  #definition-word{
    height:auto;
  }
  #result-wrapper{
    width:100%;
    height:100%;
  }
  .searchBar{
    width:95%;
    margin:3vh auto;
    display:inline-block;
  }
  #search-btn{
    width:95%;
    border:none;
  }
  #paralax-2{
    text-align: center;
  }
  .saved-image{
    width:97%;
    margin:auto;
    height:100%;
  }
  .contentDisplay{
    text-align: center;
  }
  .flex-container {
    display:block;
    width:97%;
    margin:auto;
  }
  .imageContainer{
    width:97%;
    height:25vh;
    margin:auto;
  }
  .header-txt{
    display:inline;
    margin:8vh 0 0 3%;
  }
  .image-title{
    width:97%;
    margin:auto;
  }
  .delete-btn{
    position:relative;
    top:12px;
    left:46%;
  }
  #bigmack{
    display:block;
  }
}

