body{
  margin: 0;
  padding: 0;
  text-align:center;
  box-sizing:border-box;
  height:auto;
  width:100%;
  color:white;
  font-family: 'Archivo', sans-serif;
}
.header{
  height:10vh;
  width:100%;
  background:#3D3C3C;
}
.paralax{
  height:auto;
  width:100%;
  background-attachment: fixed;
}
#paralax-1{
  background:url("images/wallpaper1.jpg") black;
  background-size:contain;
  padding-top:30vh;
  background-attachment: fixed;
  padding-bottom: 10vh;
}
#paralax-2{
  background:#716F6F;
}
.searchBar{
  width:40%;
  height:8vh;
  padding: 10px;
  border:none;
  border-radius: 12px;
  margin:auto;
  display:block;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 5vh;
}


#search-btn{
  display:inline-block;
  margin:10px;
  height:6vh;
  width:10%;
  background:#2abb2a;
  border:none;
  color:white;
  box-sizing: border-box;
  font-size:1.0em;
  border-radius:2vh;
}
.contentDisplay{
  width:100%;
  height:auto;
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.imageContainer{
  width:23%;
  height:25vh;
  margin:3% 1%;
  display: inline;

}
.saved-image{
  width:100%;
  height:100%;
  object-fit: cover;
  box-sizing: border-box;
  border:1px solid grey;
  box-shadow: 6px 7px 18px 2px black;
}
.hide{
  display:none;
}

.show{
  display:block;
}
